@import url("https://fonts.googleapis.com/css?family=Inter:100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --Inter: Inter;
    --cursor-default: default;
    --cursor-text: text;
    --cursor-pointer: pointer;
    --cursor-not-allowed: not-allowed;
    --font-weight-bold: 700;
    --text-color: rgb(0, 0, 0);
}

* {
    font-family: var(--Inter);
    box-sizing: border-box;
}

body {
    margin: 0;
}

noscript {
    border: 2px solid rgba(70, 0, 0, 0.5);
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

noscript h1,
noscript h2,
noscript h3,
noscript h4,
noscript h5,
noscript h6 {
    color: rgb(70, 0, 0);
}

.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex.direction-row {
    flex-direction: row;
}

.flex.direction-row-reverse {
    flex-direction: row-reverse;
}

.flex.direction-column {
    flex-direction: column;
}

.flex.direction-column-reverse {
    flex-direction: column-reverse;
}

.flex.wrap {
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    background: rgb(129, 96, 206);
    color: rgb(255, 255, 255);
    border-bottom: 2px solid linear-gradient(90deg, rgb(129, 96, 206), rgb(0, 0, 0));
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.373);
    top: 0;
    -webkit-user-select: none;
    user-select: none;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-weight: var(--font-weight-bold);
    height: 100%;
    transition: 200ms;
    padding: 20px;
}

.navbar a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.loading {
    background: rgb(129, 96, 206);
    color: rgb(255, 255, 255);
}

.warning-fade-in {
    animation-delay: 2s;
    animation: fade-in 500ms linear normal;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.games-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
}

#reload-button .reload-icon.spin-smooth {
    animation: smooth-spin 200ms ease forwards;
}

#reload-button .reload-icon.spin-smooth.reverse {
    animation: smooth-spin 200ms ease backwards;
}

#yg-preview-badge {
    display: inline;
    /* align-self: center; */
    justify-self: center;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
}

#yg-preview-badge.preview {
    color: rgb(255, 255, 255);
    background: rgb(60, 153, 60);
}

#yg-preview-badge.beta {
    color: rgb(255, 255, 255);
    background: rgb(84, 70, 211);
}

#yg-preview-badge.alpha {
    color: rgb(255, 255, 255);
    background: rgb(180, 0, 0);
}

#yg-preview-badge.preview.beta {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(84, 70, 211), rgb(60, 153, 60));
}

#yg-preview-badge.preview.alpha {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(180, 0, 0), rgb(60, 153, 60));
}

/*
 This is the part of this CSS that won't be supported by:
 * Chrome/Edge 103 and earlier
 * Firefox 71 and earlier
 * Safari 13 and earlier
 * Opera 89 and earlier
*/
@keyframes smooth-spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 180deg;
    }
}

button:not(:disabled) {
    padding: 9.5px;
    border-radius: 30px;
    border: none;
    font-weight: var(--font-weight-bold);
    background: rgb(129, 96, 206);
    color: rgb(255, 255, 255);
    cursor: var(--cursor-pointer);
}

button:disabled {
    padding: 9.5px;
    border-radius: 30px;
    border: none;
    background: rgb(104, 12, 12);
    color: rgba(255, 255, 255, 0.273);
    cursor: var(--cursor-not-allowed);
}

.link-no-style {
    color: var(--text-color);
    text-decoration: none;
}

.game {
    background: rgba(235, 235, 235, 0.5);
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: transform 300ms ease 0ms;
    margin: 20px;
}

.game:hover {
    transform: scale(1.0625);
}

.game-thumbnail,
.game-thumbnail-placeholder {
    border: 3.75px solid rgba(0, 0, 0, 0.253);
    border-radius: 0.5rem;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.game-thumbnail {
    width: 167.281;
    height: 52px;
}

.game-thumbnail-placeholder {
    background: rgb(133, 133, 133);
    padding-left: 12.5px;
    padding-top: 25px;
    padding-right: 12.5px;
    padding-bottom: 25px;
    font-weight: normal;
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

* a:not(.link-no-style) {
    transition: 200ms;
}

a:not(.link-no-style, .game) {
    font-weight: var(--font-weight-bold);
    color: rgb(129, 96, 206);
    text-decoration: none;
}

a:hover:not(.link-no-style, .game) {
    color: rgb(181, 153, 246);
}

.blocklive-link, a.blocklive-link {
    color: rgb(255, 0, 230);
    transition: 200ms;
}

.blocklive-link:hover, a.blocklive-link:hover {
    color: rgb(255, 161, 246);
}

.maintenance {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
